<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <button class="btn btn-primary">Land</button>
                <button class="btn btn-primary">Hover</button>
                <button class="btn btn-primary">RTL</button>
                <button class="btn btn-primary">Details</button>
                <button class="btn btn-primary">Mission</button>
            </div>
        </div>
        <div class="col">
            <button class="btn btn-danger">Stop Video</button>
            <button class="btn btn-danger">Reset</button>
        </div>
    </div>
</div>
